- @page_class = 'layout-2 page-blog'

.tumblr-container
  .col-1-2
    - if @blog_posts.present?
      - @blog_posts.each_with_index do |blog_post, i|
        = render :partial => 'tumblr/post', :locals => { :blog_post => blog_post, :index => i+1 }
      = render :partial => 'tumblr/pagination'
    - else 
      .tumblr-post
        .tumblr-wrapper
          - goback = "Sorry! Try a different one."
          - thatsit = "That's All We've Got In This Catagory"
          %h2 
            = thatsit
          = goback
        .tumblr-meta-wrapper 
      = render :partial => 'tumblr/pagination'
    
  
            
  .col-3
    .post-catagories
      %h3
        Post Categories
      .box.dark
        = link_to "Audio/Video", "/blog/?tag=AV"
      .box.dark
        = link_to "Interviews", "/blog/?tag=interviews"
      .box.dark
        = link_to "Outside NY", "/blog/?tag=notny"
      .box.dark
        = link_to "Album Releases", "/blog/?tag=albumrelease"
      .box.dark
        = link_to "Featured Video", "/blog/?tag=featuredvideo"
    = render :partial => 'shared/mailing_list'
    
