- show = selected_video.show

#video_player_container{ :data => { :video => selected_video.id, :show => show.id} }
  .container.section.mb15
    #featured-video-container
      :plain
        #{selected_video.embed_code}
    %h1 
      FEATURED VIDEO
    #video_player_info
      = link_to(show.group_name, show, :class => 'box dark')
      - if show.venue.present?
        .venue-link= show.venue.name
      .date
        = show.when.strftime("%m/%d/%Y")
    = link_to('More Videos', videos_path, :class => 'box more-videos')
    
    
    
   