- masthead_bgs = ['videos','venues','resources','donate','artists','about', 'shows']
- @masthead_bg = masthead_bgs[rand(masthead_bgs.length)] 
- @page_class = "layout-2 page-home masthead-bg-#{@masthead_bg}"

#main-content-secondary
  .col-1-2{ :class => @banners.any? && 'with-banner' }
    - if @banners.any?
      .banners{ :class => @banners.size > 1 && 'slides' }
        .slides_container
          - @banners.each do |banner|
            .banner.slide
              = display_banner(banner)
  
    #homepage-features.evoslider.default
      %dl.slides_container
  
        %dt.nav1
        %dd.section#blog
          .fromblog
            %h1
              FROM THE BLOG
            %h2
              Artist interviews, news and more...
          - if @blog_posts.present?
            - @blog_posts.each do |blog_post|
              = render :partial => 'home/blog', :locals => { :blog_post => blog_post }
          .more-link
            = link_to('TAKE ME TO THE BLOG', 'http://searchandrestore.tumblr.com', :class => 'box more')
      
        %dt.nav2
        %dd.section#featured-video
          - if @featured_video.present?
            = render :partial => 'application/player', :locals => { :selected_video => @featured_video, :show => @featured_video.show }
            
        %dt.nav3
        %dd.section#tonights_shows
          %h1
            TONIGHT'S SHOWS
          %h2
            Top picks selected by Search & Restore
          %ul.containers.show-listing
            - @top_picks.each do |show|
              %li.container[show]
                .body
                  %p.box.dark.band= show.group_name
                  = link_to("#{show.venue.name}", show.venue, :class => 'box venue')
                  %p.date= show.when.strftime("%-m/%d/%Y %l%P")
                  .clear
                  - if show.performances.present?
                    %h3#featured-musicians-title Featured Musicians:
                    %ul.inline-list
                      - show.performances.each do |performance|
                        %li.featured-musician= performance_link(performance, :class => 'box')
            = link_to('SEE MORE SHOWS', shows_path, :class => 'box more')

        - if @homepage.blurbs[0].present?
          %dt= @homepage.blurbs[0].title
          %dd.section#homepage-blur
            :textile
              #{@homepage.blurbs[0].text}

        - if @homepage.blurbs[1].present?
          %dt= @homepage.blurbs[1].title
          %dd.section#homepage-blur
            :textile
              #{@homepage.blurbs[1].text}
      
  .clear
  
  .col1-2
  
    .col-2
      #graphic
        - if @homepage.graphic.present?
          = @homepage.graphic.html_safe

  .clear
  
  .col1-2
  
    .col-1
      #mailing-list
        .body-home
          %h1
            JOIN OUR MAILING LIST
          %h2
            To keep yourself entertained and inspired
          = render :partial => 'mailing_list'
        .actions.clear.floatleft
          = submit_tag('SUBSCRIBE', :id => 'mc-embedded-subscribe', :class => 'box more')
          = link_to 'UNSUBSCRIBE', 'http://SearchAndRestore.us1.list-manage1.com/unsubscribe?u=303dcaaa45addeada91b6a5e3&id=dc362c84a7', :target => '_blank', :class => 'box more'
    .col-2
      #support
        .support-us
          %h1
            SUPPORT US
          %h3
            In exchange for good karma and great jazz
        .social-media
          %h3
            Let's connect on
            = link_to('FACEBOOK', '', :class => 'pipe-link')
            = link_to('TWITTER', '', :class => 'pipe-link')
    
    .clear
    
    .col1-2
      #footer
        .site-tagline
          %span.site-name
            SEARCH &amp; RESTORE
          Bringing the artists and audiences of new jazz and improvised music together in new ways, never forgetting its DIY roots.
        .site-copyright
          Copyright &copy; Search &amp; Restore 2012. All rights reserved.
